!!!5
html(lang='en')
  head
    meta(charset='utf-8')
    title donut chart
    :stylus
      body
        background #f5f5f5
        color #333

        #container
          outline 1px solid gray
          margin auto
          width 400px
          min-height 400px
  body
    #container
    script(src='./js/jquery.min.js')
    block spt

